.justify-self-start {
	justify-self: flex-start !important;
}

.about-img {
	max-width: 200px;
}

@media screen and (min-width: 768px) {
	.about-img {
		width: 200px !important;
	}
	/* .about-container {
		justify-content: center !important;
	}
	.about-heading {
		font-size: 4rem;
		margin-bottom: 3rem;
		padding: 0;
	}
	.about-text {
		width: 75% !important;
		font-size: 2rem;
		padding-top: 3rem;
	} */
}
