.landing {
	background: url('../../public/images/libertart-pool.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.tagline {
	color: var(--primary-white);
	font-size: 2.5rem;
	font-style: italic;
	font-weight: 900;
	text-align: center;
	z-index: 3;
}
